[data-theme='dark'] {
  --color-50: #e0e0e0;
  --color-100: #b3b3b3;
  --color-200: #808080;
  --color-300: #4d4d4d;
  --color-400: #262626;
  --color-500: #000000;
  --color-600: #000000;
  --color-700: #000000;
  --color-800: #000000;
  --color-900: #000000;
  --color-A100: #ffffff;
  --color-A200: #ffffff;
  --color-A400: #ffffff;
  --color-A700: #ffffff;
}
