[data-theme='light'] {
  --color-50: #ffffff;
  --color-100: #f7f7f7;
  --color-200: #efefef;
  --color-300: #e8e8e8;
  --color-400: #e0e0e0;
  --color-500: #d8d8d8;
  --color-600: #cfcfcf;
  --color-700: #c7c7c7;
  --color-800: #bfbfbf;
  --color-900: #b7b7b7;
  --color-A100: #afafaf;
  --color-A200: #a7a7a7;
  --color-A400: #303030;
  --color-A700: #616161;
}
